body{
  /*background-image: url("../images/paper.png");*/
 /*font-family: 'Raleway', sans-serif;*/
 background-color: lightgray;
}

h1{
  color:gray;
  font-size:50px;
}

h2{
  font-size:40px;
}

.header{
  margin-left: 125px;
  margin-top: 50px;
}

.about{
  margin-left: 150px;
  width:50%;
}

.contact{
  margin-left: 150px;
  border:2px solid gray;
  width:25%;
  padding:10px;
}

.navbar{
  width: 200px;
  font-size: 30px;
  text-align: center;
  margin-left: 130px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 5px;
  padding-left:10px;

}

.section{
  margin-left:200px;
  border: 1px solid #86B3B6;
  margin-top:20px;
  /*background-color: #FFFBF5;*/
  width:75%;
  padding: 10px;
}

.name{
  font-size: 20px;
}

.details{
  margin-left: 20px;
  width: 50%;
}

img{
  height:300px;
  width:300px;
  /*float: right;*/
  /*margin-left: 30%;*/
}

.project-image{
  /*border: 5px solid red;*/
  height:200px;
  width:200px;
  /*float:right;*/
}

a{
  color:black;
  text-decoration: none;
}
