.container{
  width: 80%;
  margin: 20px auto;
}
/*
.box{
  width: 200px;
  height: 200px;
  background-color: red;
  transition: all 1s ease-in-out;
  -webkit-animation: demoAnimate 1.5s infinite;
}*/

/*.box:hover{
  width:400px;
  background-color: blue;
  transform: rotate(180deg);
}*/

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before, #heart:after{
  -webkit-animation: demoAnimate 1.5s infinite;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
@-webkit-keyframes demoAnimate {
  0% {background-color: red;}
  50% {background-color: pink; transform: scale(1.5)}
  100% {background-color: red;}
}
