@import "variables";

.box{
  &:hover{
    background-color:$quicksilverRed;
    color:$carolinaBlue;
  }
  transition: all .5s ease-in-out;
  width: 500px;
  height: 500px;
  background-color: $carolinaBlue;
  p {
    margin-top:25%;
  }
  span{
    color: white;
  }
}
